<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tachyon Dashboard</title>
</head>

<body>
    <h1>Welcome {{user.name}}#{{user.discriminator}} ({{user.id}})!</h1>
    <h2>You now have access to the dashboard</h2>
    <br>
    <div>
        <h2>Pick a server to edit</h2>
        <section>{% for guild in guilds %}
            <div>
                <a href="/dashboard/{{guild.id}}">
                    {% if guild.icon_url is not none %}
                    <img src="{{guild.icon_url}}" class="{{guild.class_color}}"/>
                    {% else %}
                    <img src="https://discord.com/assets/3437c10597c1526c3dbd98c737c2bcae.svg" class="{{guild.class_color}}"/>
                    {% endif %}
                </a>
                <br /> {{guild.name}}
            </div>
            {% endfor %}
        </section>
    </div>
</body>

</html>