<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>{{guildName}}'s Dashboard</h1>
    <p>Set Prefix for Server</p>
    <form action="" method="post">
        <input type="text" id="setprefix" name="setprefix" placeholder="Type Prefix Here">
        <button type="submit" id="submitbtn">Set Prefix</button>
    </form>
    <p id="prefixshow">No New Prefix Found</p>
    <script>
        document.getElementById('submitbtn').addEventListener('click', (e) => {
            e.preventDefault();
            fetch("/dashboard/{{guildID}}", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                    "Accept": "application/json"
                },
                body: JSON.stringify({
                    setPrefix: document.getElementById('setprefix').value
                })
            })
            document.getElementById("prefixShow").innerHTML = "Prefix Set To: " + document.getElementById('setprefix').value;
        })
    </script>
</body>

</html>