name: Greetings

on: [pull_request, issues]

jobs:
  greeting:
    runs-on: ubuntu-latest
    permissions:
      issues: write
      pull-requests: write
    steps:
    - uses: actions/first-interaction@v1
      with:
        repo-token: ${{ secrets.GITHUB_TOKEN }}
        issue-message: 'Hello! Thanks for submitting your first issue here! I will try and look into it as soon as possible!'
        pr-message: 'Hi! Thank you very much for deciding to contribute here! This would really help me out!'
